<main role="main" class="sentPage bg-dark inner cover">
    <h1 class="cover-heading">Email enviado.</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc lorem, venenatis facilisis imperdiet at, dapibus ac orci. Phasellus at magna consectetur, luctus felis ac, lacinia libero. 

    </p>
    <p class="lead">
        <%= link_to "Home", root_path, class: "btn btn-lg btn-secondary" %>
    </p>

</main>

