<div style="background: orange">
    <h1> Olá, Leandro!</h1>
</div>
<div style="padding: 10px; padding-top: 0px; padding-bottom: 0px;">
    <h5 style="padding: 0px;">
        <%= @message %>
    </h5>
</div>
<p> Abraços, </p>
<span style="font-style: italic;">  
    <%= @name %>
</span>